:root{
    --blue-color:  #0075ff; 
    --blue-alt-color: #0d69d5; 
    --orange-color: #f59e0b; 
    --green-color: #22c55e;
    --red-color:  #f44336; 
    --grey-color: #888;
}
/* start box  */
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.f-wrap{
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
/* end box  */
/* start padding + margin */
.p-0{
    padding: 0;
}
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pl-15{
    padding-left: 15px;
}
.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}
.pr-15{
    padding-right: 15px;
}
.m-0{
    margin: 0;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
/* end padding + margin */
/* start color  */
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-eee{
    background-color: #eee;
}
.bg-red{
    background-color: var(--red-color);
}
.c-black{
    color: black;
}
.c-white{
    color: white;
}
.c-gray{
    color: var(--grey-color);
}
.c-green{
    color: var(--green-color);
}
.c-blue{
    color: var(--blue-color);
}
.c-orange{
    color: var(--orange-color);
}
.c-red{
    color: var(--red-color);
}
/* end color  */
/* start position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* end position */
/* start font  */
.txt-c{
    text-align: center;
}
.txt-l{
    text-align: left;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-25{
    font-size: 25px;
}
.w-bold{
    font-weight: bold;
}
/* end font  */
/* start boder */
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-50{
    border-radius: 50%;
}
/* end border */
/* start mobil  */
@media (max-width: 767px) {
    .hide-mobile{
        display: none;
    }
    .txt-c-mobile{
        text-align: center;
    }
    .block-mobile{
        display: block;
    }
}
/* end mobil  */
/* start width  */
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.h-full{
    height: 100%;
}
/* end width  */
/* start component */
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
/* end component */

/* start grid  */
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
/* end grid  */
/* start border */
.b-none{
    border: none;
}
.border-eee{
    border: 1px solid #eee;
}
/* end border */









